body {
  font-family: 'Arima Madurai', cursive;
}
header {
  margin-top: 0px;
  background: url("../../resources/img/header.jpeg");
  background-size: cover;
  height: 500px;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 5px #f2f2f2;
  margin-bottom: 30px;
}
h1 {
  text-align: center;
  font-size: 70px;
  /*text-shadow: 3px 3px 3px #f2f2f2;*/
  color: #fff;
  padding-top: 50px;
}
h2 {
  text-align: center;
}
.meal-click {
  cursor: pointer;
}
.new-meal, .edit-meal, .all-meals {
  padding-left: 50px;
  padding-right: 50px;
}
